@import url('https://fonts.cdnfonts.com/css/games');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2?styles=44819');


* {
    margin: 0;
    padding: 0;
    color:#cfc5e2; 
}


.hide {
    display: none;
}

body {
    background-color: #090117;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    font-family: 'Games', sans-serif;
}

.page-background {
    width: 80vw;
    height: 80vh;
    background: linear-gradient(135deg, #330a7a 25%, transparent 25%) 50px 0,
    linear-gradient(225deg, #330a7a 25%, transparent 25%) 50px 0,
    linear-gradient(315deg, #330a7a 25%, transparent 25%),
    linear-gradient(45deg, #330a7a 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #4f1271;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

header {
  padding: 0 10px 0 10px ;
  margin-top: 20px;                                      
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color:#cfc5e2;
  background-color: #090117;
  z-index: 3;
}

h1 {
  font-size: 3rem;
}

.timer{
  padding-bottom: 2px;
}

main, 
p {
display: flex;
flex-direction: column;
justify-content: center;
align-items: space-around;
font-family: 'Proxima Nova', sans-serif;
}

p { 
text-align: center;
}
button {
  width: 300px;
  appearance: button;
  background-color: #0c0c0c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:active{
  border-width: 3px;
}

button:after {
  background-clip: padding-box;
  background-color: #330a7a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}


.quiz-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

fieldset{
  border: 5px solid #cfc5e2;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(242, 74, 233, 0.2);
}

.quiz-question {
  font-size: 1.5rem;
  padding: 10px;
}

input[type="radio"]
{
  display: none;
}

input[type="radio"]+label {
  appearance: none;
  cursor: pointer;
  display: block;
  position: relative;
  padding-top: 3px;
  padding-left: 50px;
}

input[type="radio"]+label:before {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
  border-radius: 100% 100% 100% 100%;
  content: " ";
  height: 7px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 7px;
}

input[type="radio"]+label:hover:before {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}

input[type="radio"]:checked+label:before {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
}


input[type="radio"]+label:after {
  border: 3px solid #cfc5e2;
  border-radius: 100% 100% 100% 100%;
  content: " ";
  height: 15px;
  left: 5px;
  position: absolute;
  top: -1px;
  width: 15px;
}

input[type="radio"]:checked+label:after {
  border-color: rgba(255, 255, 255, 1);
}


.score-display,
#score-board-title{
  font-family: 'Games', sans-serif;
  padding-bottom: 5px;
  text-align: center;
}

input[type=text]{
  line-height: 1.4;
  width: 325px;
  text-align: center;
  font-size: 1.2rem;
  color: #330a7a;
  background-color: #ffefff;
  border: #cfc5e2 solid 5px;
  border-radius: 2px;
  margin-bottom: 5px;
}

::placeholder {
  color: #8f19cf;
  font-size: 1.2rem;
  text-align: center;
}

.submit-score {
  margin-top: 10px;
  margin-left: 17px;
}


ul {
  counter-reset: index;  
  padding: 0;
  height: 60vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  overflow: auto;
}

/* List element */
li {
  font-weight: 400;
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}


/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 12px;
  padding-right: 20px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, rgb(107, 248, 220), rgb(237, 9, 191));
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
} */